<h2> <%= t ".title"%></h2>
<h1><%=@project.name%></h1>
<table>
  <tr>   
    <th><%=t "Title"%></th>
    <th><%=t "Description" %></th>
    <th><%=t "Size" %></th>
    <th><%=t "Type" %></th>
  </tr>
  <% for document in @documents %>
    <tr>
      <td><%=h document.title %></td>
      <td><%=h document.description %></td>
      <td><%=h number_to_human_size(document.document_file_size)%></td>
      <td><%=h document.document_content_type %></td>
      <td><%= link_to t("show"), [@project, document] %></td>
      <td><%= link_to t("edit"), edit_project_document_path(@project, document)%></td>
      <td><%= link_to t("destroy"), [@project, document], :confirm => t("Confirm"), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<br />
<%= link_to t(".new"), new_project_document_path(@project) %>