<h1><%=t ".title" %></h1>

<table>
  <tr>
    <th><%=t "Title"%></th>
    <th><%=t "Description"%></th>
    <th><%=t "Status"%></th>
    <th><%=t "Owner"%></th>
    <th><%=t "Priority"%></th>
    <th><%=t "Progress"%></th>
    <th><%=t "Started at"%></th>
    <th><%=t "Ended at"%></th>
    <th><%=t "Project"%></th>
  </tr>

  <% @tasks.each do |task| %>
    <tr>
      <td><%=h task.title %></td>
      <td><%=h task.description %></td>
      <td><%=h task.status %></td>
      <td><%=h task.owner.name %></td>
      <td><%=h task.priority %></td>
      <td><%=h task.progress %></td>
      <td><%=h task.started_at%></td>
      <td><%=h task.ended_at %></td>
      <td><%=h task.project.name %></td>
      <td><%= link_to t("show"), task %></td>
      <td><%= link_to t("edit"), edit_task_path(task) %></td>
      <td><%= link_to t("destroy"), task, :confirm => t("Confirm"), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%=  will_paginate @tasks %>
<br />

<%= link_to t(".new"), new_task_path %>