<p>
  <b><%=t "Title"%></b>
  <%=h @task.title %>
</p>

<p>
  <b><%=t "Description"%></b>
  <%=h @task.description %>
</p>

<p>
  <b><%=t "Status"%></b>
  <%=h @task.status %>
</p>

<p>
  <b><%=t "Owner"%></b>
  <%=h @task.owner.name %>
</p>

<p>
  <b><%=t "Priority"%></b>
  <%=h @task.priority %>
</p>

<p>
  <b><%=t "Progress"%></b>
  <%=h @task.progress %>
</p>

<p>
  <b><%=t "Started at"%></b>
  <%=h @task.started_at.to_s(:post) %>
</p>

<p>
  <b><%=t "Ended at"%></b>
  <%=h @task.ended_at %>
</p>

<p>
  <b><%=t "Project"%></b>
  <%=h @task.project.name %>
</p>


<%= link_to t("edit"), edit_task_path(@task) %> |
<%= link_to t("back"), tasks_path %>