<h1><%=t ".title" %></h1>

<table>
  <tr>
    <th><%=t "Name"%></th>
    <th><%=t "Description" %></th>
    <th><%=t "Customer" %></th>
    <th><%=t "Documents" %></th>
  </tr>

  <% @projects.each do |project| %>
    <tr>
      <td><%=h project.name %></td>
      <td><%=h project.description %></td>
      <td><%=h project.customer.name %></td>
      <td><%= link_to t("Documents"), project_documents_path(project) %></td>
      <td><%= link_to t("show"), project %></td>
      <td><%= link_to t("edit"), edit_project_path(project) %></td>
      <td><%= link_to t("destroy"), project, :confirm => t("Confirm"), :method => :delete %></td>
    </tr>
  <% end %>
</table>
<%=  will_paginate @projects %>
<br />

<%= link_to t(".new"), new_project_path %>